<html>
  <head>
    <title>Maison Notman House</title>
    <script type="text/javascript" src="js/config.js"></script>
    <script src="./TemplateData/js/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script type="text/javascript" src="js/ambiarc.service.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/icons.css" rel="stylesheet">
  </head>
  <body ng-app="controller" style="pointer-events: none">

    <!--Navigation section-->
    <div ng-controller="NavCtrl">
      <div class="container-fluid" style="z-index:100;" ng-if="mapLoaded">
        <div id="status_bar_container">
          <div id="status_bar_content">
            Naviguer vers une &eacute;tage ou une destination
          </div>
          <div class="separate-block buttons_row" ng-if="showBuildingSelector">
            <div class="col-sm-6 floor_select_btn map_view">B&acirc;timent:</div>
            <div class="col-sm-6 floor_select_btn select_wrapper"
                 style="pointer-events: all">
              <select id="bldg-floor-select" ng-model="buildingIndex"
                      ng-change="selectBuilding(buildingIndex)">
                <option ng-repeat="(index, building) in hierarchy track by index"
                        ng-value="index">{{building.id}}</option>
              </select>
            </div>
          </div>
          <div class="separate-block buttons_row">
            <div class="col-sm-6 floor_select_btn map_view">&Eacute;tage:</div>
            <div class="col-sm-6 floor_select_btn select_wrapper"
                 style="pointer-events: all">
              <select id="bldg-floor-select" ng-model="floorIndex"
                      ng-change="selectFloor(floorIndex)">
                <option ng-repeat="(index, floor) in hierarchy[buildingIndex].floors track by index"
                        ng-value="index">{{floor.floorName}}</option>
              </select>
            </div>
          </div>
          <div class="separate-block buttons_row" ng-if="showPOISelector">
            <div class="col-sm-6 floor_select_btn map_view">Destination:</div>
            <div class="col-sm-6 floor_select_btn select_wrapper"
                 style="pointer-events: all">
              <select id="bldg-floor-select" ng-model="poiIndex"
                      ng-change="selectPOI(poiIndex)">
                <option ng-repeat="(index, poi) in pois track by index"
                        ng-value="index">{{poi.label}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Map section-->
    <div>
      <iframe src="./map.html" id="ambiarcIframe"
              style="width:100%; height:100%; border:none; top:0; z-index:-1;
                     position:fixed; pointer-events: all;">
                Your browser doesn't support iframes
      </iframe>
    </div>

    <!--Controls section-->
    <div ng-controller="ControlsCtrl">
      <div id="controls-section" style="pointer-events: all">
        <ul>
          <li class="">
            <div class="controls-btn ctrl-zoom-in" aria-hidden="true"
                 ng-click="zoomIn()"></div>
          </li>
          <li class="">
            <div class="controls-btn ctrl-rotate-left" aria-hidden="true"
                 ng-click="rotateLeft()"></div>
            <div class="controls-btn ctrl-rotate-right" aria-hidden="true"
                 ng-click="rotateRight()"></div>
          </li>
          <li class="">
            <div class="controls-btn ctrl-zoom-out" aria-hidden="true"
                 ng-click="zoomOut()"></div>
          </li>
        </ul>
      </div>
    </div>

  </body>
</html>
